<div class="card my-5">
  <h5 *ngIf="!onEditting" class="text-center mt-2">Tabela de Cargos Cadastrados</h5>
  <div *ngIf="!cargosExiste" class="alert alert-warning text-center">
    Não há nenhum Cargo cadastrado!
  </div>
    <div *ngIf="!onEditting && cargosExiste" class="card-body">
      <table class="table table-bordered table-striped text-center">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Cargo</th>
            <th scope="col">Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cargo of cargos">
            <td>{{ cargo.id }}</td>
            <td>{{ cargo.nome }}</td>
            <td>
              <button type="button" class="btn btn-secondary" (click)="onEditar(cargo)">Editar</button>
          </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf="onEditting && cargosExiste" class="card my-5">
      <h5 class="text-center mt-2">Cadastro de Cargos</h5>
      <div class="card-body">
          <form (ngSubmit)="onSubmit()" #userForm="ngForm"> 
              <div class="form-group text-center">
                  <label for="nome" [ngClass]="!nomeUnico ? 'textWarning' : (!nomeFilled ? 'textNull' : '')">Nome do Cargo</label>
                  <input type="text"
                      class="form-control"
                      placeholder="Digite o nome do cargo"
                      id="nome"
                      name="nome" [(ngModel)]="cargoEdicao.nome"
                      [ngClass]="!nomeUnico ? 'nomeWarning' : (!nomeFilled ? 'nomeNull' : '')"/>
                  <div *ngIf="!nomeFilled" class="form-text textNull">O nome é obrigatório!</div>
                  <div *ngIf="!nomeUnico" class="form-text textWarning">O nome do cargo digitado já está cadastrado!</div>
                  <button type="submit" class="btn btn-info me-2 mt-2">Salvar</button>
                  <button type="button" class="btn btn-danger mt-2" (click)="onEditting=false">Cancelar</button>
              </div>
          </form>
      </div>
  </div>
</div>