<div class="card my-5">
    <h5 *ngIf="!onEditting" class="text-center mt-2">Tabela de Usuários Cadastrados</h5>
    <div *ngIf="!onEditting" class="card-body">
        <table class="table table-bordered table-striped text-center">
        <thead class="thead-dark">
            <tr>
            <th scope="col">#</th>
            <th scope="col">Nome do Usuário</th>
            <th scope="col">CPF</th>
            <th scope="col">Data de Nascimento</th>
            <th scope="col">Sexo</th>
            <th scope="col">Cargo</th>
            <th scope="col">Perfil</th>
            <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let usuario of usuarios">
            <td>{{ usuario.id }}</td>
            <td>{{ usuario.nome }}</td>
            <td>{{ usuario.cpf }}</td>
            <td>{{ usuario.dataNascimento }}</td>
            <td>{{ usuario.sexo }}</td>
            <td>{{ usuario.cargo.nome }}</td>
            <td>{{ usuario.perfil.nome }}</td>
            <td>
                <button type="button" class="btn btn-secondary" (click)="onEditar(usuario)">Editar</button>
            </td>
            </tr>
        </tbody>
        </table>
    </div>
    <div class="card-body" *ngIf="onEditting">
        <h5 class="text-center mt-2">Cadastro de Usuário</h5>
        <form (ngSubmit)="onSubmit()" #userForm="ngForm"> 
            <div class="form-group text-center">
                <div class="row mb-3">
                    <div class="col-6">
                        <label for="nome" class="form-label" [ngClass]="!nomeValido ? 'textNull' : ''">Nome do Usuário</label>
                        <input type="text"
                            class="form-control"
                            placeholder="Digite o nome do usuário"
                            id="nome"
                            name="nome" [(ngModel)]="usuarioEdicao.nome" required
                            [ngClass]="!nomeValido ? 'nomeNull' : ''"/>
                        <div *ngIf="!nomeValido" class="form-text textNull">Você deve preencher um nome para o usuário!</div>
                    </div>
                    <div class="col-6">
                        <label for="cpf" class="form-label" [ngClass]="!cpfValido ? 'textNull' : (!cpfUnico ? 'textWarning' : '')">CPF do Usuário</label>
                        <input type="text"
                            class="form-control cpf-mask"
                            placeholder="Digite o CPF do usuário"
                            id="cpf"
                            name="cpf" [(ngModel)]="usuarioEdicao.cpf" required
                            [ngClass]="!cpfValido ? 'nomeNull' : (!cpfUnico ? 'nomeWarning' : '')"/>
                        <div *ngIf="!cpfValido" class="form-text textNull">Você deve preencher um CPF para o usuário!</div>
                        <div *ngIf="!cpfUnico" class="form-text textWarning">O CPF digitado já está cadastrado para outro usuário!</div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-6">
                        <label for="nome" class="form-label" [ngClass]="!dataValida ? 'textNull' : ''">Data de Nascimento</label>
                        <input type="date"
                            class="form-control"
                            id="dataNascimento"
                            name="dataNascimento" [(ngModel)]="usuarioEdicao.dataNascimento" required
                            [ngClass]="!dataValida ? 'nomeNull' : ''"/>
                        <div *ngIf="!dataValida" class="form-text textNull">Você deve informar uma data de nascimento válida!</div>
                    </div>
                    <div class="col-6">
                        <label for="sexo" class="form-label">Sexo</label>
                        <select class="form-select" [(ngModel)]="usuarioEdicao.sexo" name="selectSexo" required>
                            <option selected disabled>Selecione sua opção</option>
                            <option value="Feminino">Feminino</option>
                            <option value="Masculino">Masculino</option>
                        </select>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-6">
                        <label for="usuarioCargo" class="form-label">Cargo do Usuário</label>
                        <select class="form-select" [(ngModel)]="usuarioEdicao.cargo.nome" name="selectCargo" required>
                            <option selected disabled>Selecione sua opção</option>
                            <option *ngFor="let cargo of cargos">{{ cargo.nome }}</option>
                        </select>
                    </div>
                    <div class="col-6">
                        <label for="usuarioPerfil" class="form-label">Perfil de Usuário</label>
                        <select class="form-select" [(ngModel)]="usuarioEdicao.perfil.nome" name="selectPerfil" required>
                            <option selected disabled>Selecione sua opção</option>
                            <option *ngFor="let perfil of perfis">{{ perfil.nome }}</option>
                        </select>
                    </div>
                </div>
                <button type="submit" class="btn btn-info me-2 mt-2">Salvar</button>
                <button type="button" class="btn btn-danger mt-2" (click)="onEditting=false">Cancelar</button>
            </div>
        </form>
    </div>
</div>