.nomeErrado {
    border-color: crimson;
}

.cpfErrado {
    border-color: crimson;
}

.dataErrada {
    border-color: crimson;
}

.textErrado {
    color: crimson;
}

.textWarning {
    color: rgb(201 152 13);
}

.cpfRepetido {
    border-color: rgb(201 152 13);
}