<div class="card my-5">
    <div class="card-body">
        <form> 
            <div class="form-group">
                <div class="row mb-3">
                    <div class="col-6">
                        <label for="nome">Nome do Usuário</label>
                        <input type="text"
                            class="form-control"
                            placeholder="Digite o nome do usuário"
                            id="nome"
                            name="nome"/>
                    </div>
                    <div class="col-6">
                        <label for="cpf">CPF do Usuário</label>
                        <input type="text"
                            class="form-control cpf-mask"
                            placeholder="Digite o CPF do usuário"
                            id="cpf"
                            name="cpf"/>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-6">
                        <label for="nome">Data de Nascimento</label>
                        <input type="date"
                            class="form-control"
                            id="dataNascimento"
                            name="dataNascimento"/>
                    </div>
                    <div class="col-6">
                        <label for="sexo">Sexo</label>
                        <select class="form-select">
                            <option value="F">Feminino</option>
                            <option value="M">Masculino</option>
                          </select>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-6">
                        <label for="cpf">Cargo</label>
                        <select class="form-select">
                            <option value="F">Feminino</option>
                            <option value="M">Masculino</option>
                          </select>
                    </div>
                    <div class="col-6">
                        <label for="cpf">Perfil de Usuário</label>
                        <select class="form-select">
                            <option value="F">Feminino</option>
                            <option value="M">Masculino</option>
                          </select>
                    </div>
                </div>
                <button type="submit" class="btn btn-info">Criar</button>
            </div>
        </form>
    </div>
</div>
